// Image Grid
// ---------

.image-grid-widget {
  padding: 2.0625rem 0;


.image-grid-title {
  text-align:center;
  margin-bottom: 2.0625rem;
}

.grid-image{
  position: relative;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  &:focus {
    outline-width: 0;
  }
  .fa {
    position: absolute;
    color: #FFF;
    font-size: 60px;
    top: 35%;
    left: 45%;
    opacity: 0.9;
  }


}

.grid-image-content {
  color:$white;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  bottom: 8%;
  left: 5%;
  right: 5%;
  font-size: 2.5vw !important;

  @include breakpoint(small only) {
      font-size: inherit !important;
    }

}

.featured-grid-image {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  &:focus {
    outline-width: 0;
  }
  img {
    display: block;
  }
  .fa {
    position: absolute;
    color: #FFF;
    font-size: 60px;
    top: 35%;
    left: 45%;
    opacity: 0.9;
  }
}

.feature-image {
  width: 100%;
  min-height:320px;
  object-fit: cover;
  height: 100%;
}

.featured-grid-image-content {
  color:$white;
  line-height: 1;
  position: absolute;
  bottom: 8%;
  left: 5%;
  right: 5%;
}

.featured-grid-image-title {
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 1rem;
  //font-size: 2.5vw !important;

  @include breakpoint(small only) {
      font-size: inherit !important;
    }
}

.featured-grid-image-description p {
  margin-bottom: 0;

  @include breakpoint(medium only) {
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
}

.featured-grid-image-overlay {
  position: absolute;
  bottom: 0.9375rem;
  left: 0;
  right: 0;
  height: 40vh;
  width: 100%;
  opacity:.8;
  background: $blue;


  @include breakpoint(small only) {
      bottom: 10px;
      height: 35vh;
    }
}
}
