.twitter-widget {
  padding: 50px 0;
  background: $light-gray;
  h2 {
    color: $blue;
    text-transform: uppercase;
    text-align: center;
  }
    .tweet-carousel {
      .tweets-parent-container {
        margin: 15px 0;
        .icon-cell {
          text-align: right;
        }
        .fa-twitter {
          font-size: 100px;
          color: $blue;
        }

        .tweet-text-container {
            position: relative;

          .tweet-text {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            color: $blue;
            font-size: 18px;
            width: 85%;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .twitter-feed-container {
      padding: 20px 20px 0 20px;
      border: 2px solid $dark-gray;
      height: 580px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .tweet {
      padding: 16px 0;
      border-bottom: 1px solid $dark-gray;
    }
    .tweet:last-child {
      border-bottom:0;
    }
    .tweet-username {
      font-family: 'ProximaNovaBold';
    }
    ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    }
    ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
}
