<div id="events-flex-widget" class="event-carousel-widget" style="{% if content.eventCarouselBackgroundImage|length %}background-image:url({{content.eventCarouselBackgroundImage.first().getUrl()}});{% endif %}">
  <div class="grid-x grid-container grid-padding-x event-card-carousel">
    <div class="cell">
    {{ content.eventCarouselHeading }}
  </div>
    <div class="cell">
      {% set eventWidgetIds = {} %}
      {% for block in content.eventCarouselMatrix %}
          {% set type = block.type.handle %}
          {% switch type %}
          {% case 'event' %}
          <input type="hidden" id="inputEventId" name="inputEventId[]" value="{{block.eventId}}" />

          {% set eventWidgetIds = eventWidgetIds|merge([block.eventId]) %}
          {% endswitch %}
          {% endfor %}
      <events-carousel-widget></events-carousel-widget>
    </div>
  </div>
</div>
