<div id="{{content.type}}_{{content.id}}" class="hero-widget"
     style="{% if content.image|length %}background-image:url({{content.image.first().getUrl('heroWidgets')}});{% endif %}
     {% if content.backgroundPosition|length %}text-align:{{content.backgroundPosition}};{% endif %}">

    {% if content.backgroundColorOverlay != "none" %}
        <div class="background-color-overlay" style="background-color:{{content.backgroundColorOverlay}}"></div>
    {% endif %}
    {% if content.backgroundPosition == 'left' %}
    <div class="hero-content grid-x grid-padding-x grid-container align-left align-middle">
        <div class="cell medium-8">

            {% if content.displayUsaCyclingBadge %}
                <div class="hero-emblem"><img src="/images/USACycling_Logo.png"></div>
            {% endif %}

            {% if content.displayUsaCyclingFoundationBadge %}
                <div class="hero-emblem"><img src="/images/usacf_badge.png"></div>
            {% endif %}

            {% if  content.topTitle|length %}
                <div class="hero-top-title">{{ content.topTitle }}</div>
            {% endif %}

            {% if  content.subTitle|length %}
                <h1 class="hero-sub-title">{{ content.subTitle }}</h1>
            {% endif %}

            {% if  content.description|length %}
                <p class="description">{{ content.description }}</p>
            {% endif %}

            {% if content.ctaUrl|length and content.ctaText|length %}
                <a class="button large secondary hero-cta" href="{{ content.ctaUrl }}" {% if content.hrefTarget %}target="_blank"{% endif %} data-ga-push="{% if content.gaOverrideValue|length %}{{content.gaOverrideValue}}{% else %}{% include 'inc/ga-push.html'%}{% endif %}">{{ content.ctaText }}</a>
            {% endif %}
        </div>
      </div>
      {% endif %}
      {% if content.backgroundPosition == 'right' %}
      <div class="hero-content grid-x grid-container align-right align-middle">
        <div class="cell medium-8">

            {% if content.displayUsaCyclingBadge %}
                <div class="hero-emblem"><img src="/images/USACycling_Logo.png"></div>
            {% endif %}

            {% if content.displayUsaCyclingFoundationBadge %}
                <div class="hero-emblem"><img src="/images/usacf_badge.png"></div>
            {% endif %}

            {% if  content.topTitle|length %}
                <div class="hero-top-title">{{ content.topTitle }}</div>
            {% endif %}

            {% if  content.subTitle|length %}
                <h1 class="hero-sub-title">{{ content.subTitle }}</h1>
            {% endif %}

            {% if  content.description|length %}
                <p class="description">{{ content.description }}</p>
            {% endif %}

            {% if content.ctaUrl|length and content.ctaText|length %}
                <a class="button large secondary hero-cta" href="{{ content.ctaUrl }}" {% if content.hrefTarget %}target="_blank"{% endif %} data-ga-push="{% if content.gaOverrideValue|length %}{{content.gaOverrideValue}}{% else %}{% include 'inc/ga-push.html'%}{% endif %}">{{ content.ctaText }}</a>
            {% endif %}
        </div>
      </div>
      {% endif %}
</div>
