<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
  </head>
  <body>
    <table>
        <tr>
            <td>
                <img src="https://www.usacycling.org/images/USACycling_Logo.png" />
            </td>
            <td>
                <h1>USA Cycling Authorization to Race Receipt</h1>
            </td>
        </tr>
    </table>
    <h2>Account Information</h2>
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>USA Cycling #:</td>
            <td>Preferred Phone:</td>
        </tr>
        <tr>
            <td>
                Date of Birth:
            </td>
            <td>
                Primary Email Address:
            </td>
        </tr>
        <tr>
            <td>
                UCI ID:
            </td>
            <td>
                Username:
            </td>
        </tr>
        <tr>
            <td>
                Citizen:
            </td>
            <td>
                Emergency Contact:
            </td>
        </tr>
        <tr>
            <td>Racing Age:</td>
            <td>
                Emergency Contact Phone
            </td>
        </tr>
        <tr>
            <td>
                Member Since:
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Gender:
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td></td>
        </tr>
    </table>
    <h2>Active Licenses</h2>
  </body>
</html>